.page-article {
	--page-article-padding-x: var( --section-padding-x );
	--page-article-padding-y: var( --section-padding-y );
	--stack-custom-size: var( --stack-lg-size );

	padding: var( --page-article-padding-y ) var( --page-article-padding-x );
	margin-top: var( --size--3 );
}
	@media (min-width: 800px) {
		.page-article {
			--stack-custom-size: var( --stack-xl-size );

			padding: var( --size-4 );
			column-gap: var( --size-3 );
		}
		.page-article > * {
		}
	}

.page-article-header {
	text-align: center;
}

.page-article-title {
	--measure-size: 10ch;
	font-size: var( --size-3 );
	line-height: 0.85;
	letter-spacing: -.05em;
}
	@media (min-width: 800px) {
		.page-article-title {
			font-size: var( --size-4 );
		}
	}

.page-article-subtitle {
	--measure-size: 32ch;

	border-top: solid var( --color-orange ) var(--size--4);
	font-size: var( --font-size-md );
	line-height: 1.2;
	margin-top: var( --size--3 );
	padding-left: var( --size--3 );
	padding-right: var( --size--3 );
	padding-top: var( --size--4 );
}
	@media (min-width: 800px) {
		.page-article-subtitle {

		}
	}
