.page-header {
	--margin-y: calc( clamp( var( --size-4 ), 10vw, var( --size-6 ) ) / 3 );

	padding: 0;
	padding-top: var( --section-padding-y );
	position: relative;
}
	@media (min-width: 800px) {
		.page-header {
			background-color: var( --color-black );
			color: var( --color-cream );
			display: grid;
			grid-template-rows: 1fr auto;
			height: 100vh;
			padding-top: 0;
			position: sticky;
			row-gap: var( --size-0 );
			top: 0;
		}
		.page-header::after {
			background-image: url( /images/worn-spine-center.jpg ), url( /images/worn-spine-right.jpg ), url( /images/worn-spine-left.jpg );
			background-image:
				image-set(
					"/images/worn-spine-center.avif" type("image/avif"),
					"/images/worn-spine-center.webp" type("image/webp")
				),
				image-set(
					"/images/worn-spine-right.avif" type("image/avif"),
					"/images/worn-spine-right.webp" type("image/webp")
				),
				image-set(
					"/images/worn-spine-left.avif" type("image/avif"),
					"/images/worn-spine-left.webp" type("image/webp")
				)
			;
			background-position: 52%, right, left;
			background-repeat: no-repeat;
			background-size: cover;
			content: "";
			mix-blend-mode: screen;
			opacity: 1;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			z-index: 1;
		}
	}

.page-header nav {
}
	@media (min-width: 800px) {
		.page-header nav {
			display: grid;
			justify-items: center;
			position: relative;
		}
			.page-header nav::after {
				background-image: url(/images/bg-spine-stripes.svg);
				background-position: bottom;
				background-repeat: no-repeat;
				background-size: 300%;
				content: "";
				position: absolute;
				top: 0; right: 0; bottom: 0; left: 0;
				z-index: 0;
			}

		.page-header nav a[href="/"] {
			z-index: 2;
			position: relative;
		}
	}

.page-header .site-title {
	font-family: var(--font-heading);
	font-size: var( --size-2 );
	line-height: 1;
}
	@media (min-width: 800px) {
		.page-header .site-title {
			display: none;
		}
	}


.page-header .spine-logo {
	display: none;

	height: var( --size-2 );
	justify-self: center;
	margin-bottom: var( --margin-y );
}
	@media (min-width: 800px) {
		.page-header .spine-logo {
			display: initial;
		}
	}

.page-header .spine-title {
	display: none;
	justify-self: center;
	margin-top: var( --margin-y );
	width: var( --size-1 );
}
	@media (min-width: 800px) {
		.page-header .spine-title {
			display: initial;
		}
	}
