.page-header {
	--margin-y: calc( clamp( var( --size-4 ), 10vw, var( --size-6 ) ) / 3 );

	padding: 0;
	padding-top: var( --section-padding-y );
	position: relative;
}
	@media (min-width: 800px) {
		.page-header {
			background-color: var( --color-black );
			color: var( --color-cream );
			display: grid;
			grid-template-rows: 1fr auto;
			height: 100vh;
			padding-top: 0;
			position: sticky;
			row-gap: var( --size-0 );
			top: 0;
		}
	}

.page-header nav {
}
	@media (min-width: 800px) {
		.page-header nav {
			display: grid;
			justify-items: center;
			background-image: url(/images/bg-spine-stripes.svg);
			background-repeat: no-repeat;
			background-position: bottom;
			background-size: 300%;
		}
	}

.page-header .site-title {
	font-family: var(--font-heading);
	font-size: var( --size-2 );
	line-height: 1;
}
	@media (min-width: 800px) {
		.page-header .site-title {
			display: none;
		}
	}


.page-header .spine-logo {
	display: none;

	height: var( --size-2 );
	justify-self: center;
	margin-bottom: var( --margin-y );
}
	@media (min-width: 800px) {
		.page-header .spine-logo {
			display: initial;
		}
	}

.page-header .spine-title {
	display: none;
	justify-self: center;
	margin-top: var( --margin-y );
	width: var( --size-1 );
}
	@media (min-width: 800px) {
		.page-header .spine-title {
			display: initial;
		}
	}
