.page-layout {
}
	@media (min-width: 800px) {
		.page-layout {
			display: grid;

			grid-template-columns:
				clamp( var( --size-4 ), 10vw, var( --size-6 ) )
				1fr
				clamp( var( --size-4 ), 10vw, var( --size-6 ) )
			;
		}

		.page-layout > *:nth-child(1),
		.page-layout > *:nth-child(3) {
			min-height: 100vh;
		}
	}
