.box {
	--box-padding: var( --page-margin );
	padding: var( --box-padding );
}

.center {
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
}

.container {
	max-width: var( --container-size );
}

.stack-custom > * + * {
	margin-top: var( --stack-custom-size );
}

.stack-sm > * + * {
	margin-top: var( --stack-sm-size );
}

.stack > * + * {
	margin-top: var( --stack-size );
}

.stack-lg > * + * {
	margin-top: var( --stack-lg-size );
}

.stack-xl > * + * {
	margin-top: var( --stack-xl-size );
}
