.absolute {
	position: absolute;

	top: 0; right: 0; bottom: 0; left: 0;
}

.bold {
	font-weight: bold;
}

.flex {
	display: flex;
}

.font-sm {
	font-size: calc( var( --font-size ) * 0.75 );
}

.inline-block {
	display: inline-block;
}

.measure {
	max-width: var( --measure-size );
}

.padding-bottom\:0 {
	padding-bottom: 0;
}

.no-underline {
	text-decoration: none;
}

.showcase {
	--gap: var( --showcase-gap );

	display: grid;
}
	@media (min-width: 800px) {
		.showcase {
			--column-width: 1fr;

			grid-template-columns: repeat( 2, var( --column-width ) );
		}
	}

.text-center {
	text-align: center;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
