.absolute {
	position: absolute;

	top: 0; right: 0; bottom: 0; left: 0;
}

.bold {
	font-weight: bold;
}

.flex {
	display: flex;
}

.font-heading {
	font-family: var( --font-heading );
}

.font-sm {
	font-size: var( --font-size-sm );
}
.font-xs {
	font-size: var( --font-size-xs );
}

.inline-block {
	display: inline-block;
}

.font-features {
	font-feature-settings: 'ss01';
}

.font-ligatures {
	font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

.measure {
	max-width: var( --measure-size );
}

.padding-bottom\:0 {
	padding-bottom: 0;
}

.no-underline {
	text-decoration: none;
}

.no-wrap {
	white-space: nowrap;
}

.showcase {
	--gap: var( --showcase-gap );

	display: grid;
	gap: var( --gap );
	column-gap: var( --gap );
}
	@media (min-width: 800px) {
		.showcase {
			--column-width: 1fr;

			grid-template-columns: var( --column-left-width, var( --column-width ) ) var( --column-right-width, var( --column-width ) );
		}
	}

.sticky {
	position: sticky;
	top: var( --sticky-top, 0 );
}

.text-center {
	text-align: center;
}

.title-spacing {
	letter-spacing: -0.0875em;
}

.uppercase {
	text-transform: uppercase;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
