{#
 # @prop {string} title
 # @callable true
 #}
{% macro render( props ) %}
<article class="[ center stack ][][ Example ]">
	<h2>{{ props.title }}</h2>

	{% if caller %}{{ caller() }}{% endif -%}
</article>
{% endmacro %}

{% set critical %}
<style>
	.Example {
		max-width: 40ch;
		border-radius: var( --size--2 );
		padding: var( --size-2 );
		background: #edf2f7;
	}
	.Example h2 {
		line-height: 1;
	}
</style>
{% endset %}

{% set async %}
<style>
	.Example {
		cursor: pointer;
		transition: background 0.125s ease;
		border: solid #718096 2px;
	}
	.Example:hover {
		background: #fefcbf;
		border-color: #d69e2e;
	}
</style>
{% endset %}
