{#
 # @prop {string} step
 # @prop {string} subtitle
 # @callable true
 #}
{% macro render( props ) %}
<section
	class="[ center stack ][ measure ][ Step ]"
>
	<div class="[ stack-sm ][ text-center ][]">
		<h3 class="[][ font-heading ][ Step-title ]">Step {{ props.step }}</h3>
		<p class="[ center ][ measure ][ Step-subtitle ]">{{ props.subtitle | safe }}</p>
	</div>

	{% if caller %}{{ caller() }}{% endif -%}
</section>
{% endmacro %}

{% set criticalStyles %}
<style>
	.Step-title {
		font-size: var( --size-1 );
		text-transform: uppercase;
	}
	.Step-subtitle {
		--measure-size: 36ch;
	}
		.Step-subtitle strong {
			white-space: nowrap;
		}
</style>
{% endset %}
