{#
 # @prop {string} step
 # @prop {string} subtitle
 # @callable true
 #}
{% macro render( props ) %}
<section
	class="[ center measure stack ][ showcase ][ Step ]"
>
	{% if caller %}{{ caller() }}{% endif -%}

	<header class="[ stack-xs ][][ Step-header ]">
		<h3 class="[][ font-heading ][ Step-title ]">Step {{ props.step }}</h3>
		<p class="[][][ Step-subtitle ]">{{ props.subtitle | safe }}</p>
	</header>
</section>
{% endmacro %}

{% set criticalStyles %}
<style>
	.Step {
		--column-left-width: 3fr;
		--column-right-width: 2fr;

		column-gap: var( --size-1 );

		--measure-size: 64ch;
	}
		.Step:nth-of-type( 2n ) {
			--column-left-width: 2fr;
			--column-right-width: 3fr;
		}
		.Step:nth-of-type( 2n+2 ) > *:nth-child(1) {
			order: 1;
		}

	.Step-header {
		/* text-align: right; */
	}
	.Step-title {
		font-size: var( --size-1 );
		text-transform: uppercase;
	}
	.Step-subtitle {
		--measure-size: 36ch;
	}
		.Step:nth-of-type( 2n ) .Step-title,
		.Step:nth-of-type( 2n ) .Step-subtitle {
			text-align: right;
		}

		.Step-subtitle strong {
			white-space: nowrap;
		}
</style>
{% endset %}
