.app-icon {
	/* --theme-shadow-color: var( --theme-shadow-color ); */

	z-index: 1;
	position: relative;
	border-radius: calc( var( --size-1 ) * 1.125 );
	box-shadow: 0 1px 1px var( --theme-shadow-color ),
		0 2px 2px var( --theme-shadow-color ),
		0 4px 4px var( --theme-shadow-color ),
		0 8px 8px var( --theme-shadow-color ),
		0 16px 16px var( --theme-shadow-color ),
		0 32px 32px var( --theme-shadow-color );
}
