.page-section.book-cover {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 26vh;
	min-height: 50vh;
	overflow-y: hidden;
}

.book-cover {
	--cta-border-width: var( --size--2 );
	--measure-size: 40ch;

	position: relative;
}
	.book-cover::before {
		z-index: 0;
		content: "";
		position: absolute;
		right: 0; bottom: 0; left: 0;
		height: 45%;
		background-repeat: no-repeat;
		background-image: url(/images/bg-books.svg);
		background-position: center top;
		background-size: 100%;
	}
.book-cover > * {
	z-index: 1;
	position: relative;
}

.book-cover > * > * {
	padding-left: var( --section-padding-x );
	padding-right: var( --section-padding-x );
}

.book-cover-title {
	border-bottom: solid currentcolor 1px;
	padding-bottom: calc( var( --stack-size ) * 0.5 - 1px );
	font-size: calc( var( --size-3 ) + 1vw );
	letter-spacing: -0.0875em;
	line-height: 0.875;
	text-transform: uppercase;
}
	@media (min-width: 800px) {
		.book-cover-title {
			font-size: var( --size-4 );
		}
	}

.book-cover-title + * {
	margin-top: calc( var( --stack-size ) * 0.5 - 1px );
}

.book-cover-subtitle {
	font-size: var( --size-1 );
	line-height: 1.25;
}
