.book-cover::after {
	background-image: url( /images/worn-paperback-01-top.png ), url( /images/worn-paperback-01-bottom.png );
	background-image:
		image-set(
			"/images/worn-paperback-01-top.avif" type("image/avif"),
			"/images/worn-paperback-01-top.webp" type("image/webp")
		),
		image-set(
			"/images/worn-paperback-01-bottom.avif" type("image/avif"),
			"/images/worn-paperback-01-bottom.webp" type("image/webp")
		)
	;

	background-position: top, bottom;
	mix-blend-mode: screen;
}
