.book-cover::after {
	content: "";
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-repeat: no-repeat;
	background-color: var( --color-cream );
	background-image: url(/images/worn-paperback-02.jpg);
	background-size: 100%;
	background-blend-mode: multiply;
	mix-blend-mode: screen;
}
