.page-section.book-cover {
	padding-left: 0;
	padding-right: 0;
}

.book-cover {
	--cta-border-width: var( --size--4 );
	--measure-size: 40ch;
	--stack-size: calc( var( --font-size ) );
}

.book-cover > * > * {
	padding-left: var( --section-padding-x );
	padding-right: var( --section-padding-x );
}

.book-cover-title {
	border-bottom: solid currentcolor 1px;
	padding-bottom: calc( var( --stack-sm-size ) * 1 );
	font-size: var( --size-3 );
	letter-spacing: -0.0875em;
	line-height: 1;
	text-transform: uppercase;
}
	@media (min-width: 800px) {
		.book-cover-title {
			font-size: var( --size-4 );
		}
	}

.book-cover-subtitle {
	font-size: var( --size-1 );
}
