.book-cover {
	--measure-size: 40ch;

	position: relative;
	padding-left: 0;
	padding-right: 0;
	min-height: 80vh;
	height: 100%;
	overflow: hidden;
}
.book-cover::after {
	content: "";
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: var( --color-black );
	background-repeat: no-repeat;
	background-size: 100%;
}

.book-cover-contents {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding-top: var( --section-padding-y );

	display: grid;
	grid-template-rows: auto 1fr;
}
.book-cover-contents header > * {
	padding-right: var( --section-padding-x );
	padding-left: var( --section-padding-x );
}
.book-cover-art {
	mix-blend-mode: difference;
}

.book-cover-title {
	border-bottom: solid currentcolor 1px;
	padding-bottom: calc( var( --stack-size ) * 0.125 - 1px );
	font-size: calc( var( --size-3 ) + 1vw );
	letter-spacing: -0.0875em;
	line-height: 0.875;
	text-transform: uppercase;
}
	@media (min-width: 800px) {
		.book-cover-title {
			font-size: var( --size-4 );
		}
	}

.book-cover-title + * {
	margin-top: calc( var( --stack-size ) * 0.875 - 1px );
}

.book-cover-subtitle {
	font-size: var( --size-1 );
	line-height: 1.25;
}
