.cta {
	--cta-padding-x: var( --size-2 );
	--cta-padding-y: var( --size--2 );

	display: inline-block;
	border: solid var( --theme-cta-border-color, transparent ) var( --cta-border-width, 2px );
	padding: var( --cta-padding-y ) var( --cta-padding-x );
	background-color: var( --theme-cta-background-color, var( --theme-text-color ) );
	color: var( --theme-cta-text-color, var( --theme-background-color ) );
	text-decoration: none;
}

.cta:focus-visible {
	outline: none;
	box-shadow: 0 0 0 var( --cta-border-width, 3px ) var( --theme-accent-color );
}
