.page-sections {
	position: relative;
	min-height: 120vh;
}

@media (min-width: 800px) {
	.page-sections > * {
		position: sticky;
		top: 0;
		left: 50vw;
		right: 0;
		width: 50vw;
	}
	.page-sections > :nth-child(1) {
		left: 0;
		right: 50vw;
		/* min-height: 100vh; */
	}
}

.page-section {
	padding: var( --section-padding-y ) var( --section-padding-x );
}
	.page-section.fullbleed--bottom {
		padding-bottom: 0;
	}

.page-section > * {
	--measure-size: 48ch;
}

.page-section-heading {
	font-family: var( --font-heading );
	font-size: var( --size-2 );
	letter-spacing: -.05em;
	line-height: 1;
}
	.page-section-heading em {
		font-style: normal;
	}
	@media (min-width: 800px) {
		.page-section-heading {
			font-size: var( --size-3 );
		}
	}

.page-section-subheading {
	font-size: var( --size-2 );
	line-height: 1;
}

