.paper {
	--shadow-size: calc( var( --size-0 ) + 2vw );
	--shadow-color: hsla( 45, 53%, 71%, 0.5 );

	box-shadow:
		/* Horizontal */
		calc( 1 * var( --shadow-size ) )
		0
		calc( 1 * var( --shadow-size ) )
		calc( -1 * var( --shadow-size ) )
		var( --shadow-color )
		inset,

		calc( -1 * var( --shadow-size ) )
		0
		calc( 1 * var( --shadow-size ) )
		calc( -1 * var( --shadow-size ) )
		var( --shadow-color )
		inset,

		/* Vertical */
		0
		calc( 1 * var( --shadow-size ) )
		calc( 1 * var( --shadow-size ) )
		calc( -1 * var( --shadow-size ) )
		var( --shadow-color )
		inset
	;
}
