.pencil {
	position: relative;
}
.pencil:before,
.pencil:after {
	content: "";
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-repeat: no-repeat;
	mix-blend-mode: multiply;
	opacity: 0.7;
}

.pencil--underline:nth-of-type(1):after {
	top: 0; bottom: -0.1em; right: -0.2em; left: -0.2em;

	background-image: url( /images/pencil-underline-1.jpg );
	background-image: image-set(
		"/images/pencil-underline-1.avif" type("image/avif"),
		"/images/pencil-underline-1.webp" type("image/webp")
	);
	background-size: contain;
	background-position: center bottom;
}

.pencil--circle::after {
	background-image: url( /images/pencil-disclaimer.jpg );
	background-size: contain;
	background-position: center;
	background-image: image-set(
		"/images/pencil-disclaimer.avif" type("image/avif"),
		"/images/pencil-disclaimer.webp" type("image/webp")
	);

	bottom: calc( -1 * var(--size-1) );
	left: calc( -1 * var(--size-0) );
	right: calc( -1 * var(--size--1) );
	top: calc( -1 * var(--size-1) );
}
