<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- 🎈🐀 -->
	<meta name="generator" content="eleventy">

	{%- set pageTitle -%}
		{%- if metadata.title -%}
			{{- metadata.title | safe -}}
		{%- elif title -%}
			{{- title | safe }} | {{ site.title | safe -}}
		{%- else -%}
			{{- site.title | safe }} — {{ site.subtitle | safe -}}
		{%- endif -%}
	{% endset %}
	<title>{{ pageTitle }}</title>

	{% set metaTitle = pageTitle if pageTitle else site.title %}
	<meta name="title" content="{{ metaTitle }}">
	<meta name="description" content="{{ site.subtitle }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:title" content="{{ metaTitle }}">
	<meta property="og:description" content="{{ site.subtitle }}">
	<meta property="og:image" content="{{ site.url }}/images/social.jpg">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ site.url }}">
	<meta property="twitter:title" content="{{ metaTitle }}">
	<meta property="twitter:description" content="{{ site.subtitle }}">
	<meta property="twitter:image" content="{{ site.url }}/images/social.jpg">

	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/icons/favicon-64x64.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="180x180" href="/icons/favicon-180x180.png">

	{% for link in prefetch %}
	<link rel="prefetch" href="{{ link.href }}" as="{{ link.as }}">
	{% endfor %}

	{% if plugins.esc.hasCriticalStyles( page.filePathStem ) %}
	<style>
		{{ plugins.esc.criticalStyles({ identifier: page.filePathStem }) | safe }}
	</style>
	{% endif %}

	{% if plugins.esc.hasAsyncStyles( page.filePathStem ) %}
	<link
		rel="stylesheet"
		href="{{ plugins.esc.dir.output }}/{{ page.filePathStem | replace( '/content/', '' )}}.css"
		media="print"
		onload="this.media='all'"
	>
	{% endif %}

	{{ plugins.esc.asyncScripts({ identifier: page.filePathStem }) | safe }}

	<script defer data-domain="checkthisout.today" src="https://plausible.io/js/script.js"></script>
</head>
<body class="[][ {{ page.theme }} ][]">
	{{ content | safe }}

	{% if plugins.esc.hasCriticalScripts( page.filePathStem ) %}
	<script>{{ plugins.esc.criticalScripts({ identifier: page.filePathStem }) | safe }}</script>
	{% endif %}
</body>
</html>
