---
layout: layouts/base.njk
---
{%- from "plugins/css/component.njk" import component with context -%}

<div
	class="[][][ page-layout ]"
>
	<header class="[][][ page-header ]">
		<nav
			class="[][][]"
		>
			<div
				class="[][ text-center ][]"
			>
				<a
					class="[ inline-block no-underline ]"
					href="/"
				>
					<p class="[][ font-features font-ligatures title-spacing uppercase ][ site-title ]">Check This Out</p>
					<img alt="Check This Out" src="/images/spine-title.svg" class="[][][ spine-title ]" />
				</a>
			</div>
		</nav>

		<img
			alt="Taxi logo"
			src="/icons/spine-logo.svg"
			class="[][][ spine-logo ]"
		/>
	</header>

	<main
		class="[][][]"
	>
		<article class="[ stack-custom ][][ page-article ]">
			<header class="[][][ page-article-header ]">
				<h1 class="[ center ][ font-features uppercase ][ page-article-title ]">{{ title }}</h1>
				{% if subtitle %}<p class="[ center ][ measure ][ page-article-subtitle ]">{{ subtitle }}</p>{% endif %}
			</header>

			<div class="[ center ][][]">
				{{ content | safe }}
			</div>
		</article>
	</main>

	<div
		class="[][ theme-yellow ][]"
	></div>
</div>

{% include "partials/footer.njk" %}
