---
layout: layouts/base.njk
---
{%- from "plugins/css/component.njk" import component with context -%}

<div
	class="[][][ page-layout ]"
>
	<header class="[][ theme-black ][ page-header ]">
		<nav
			class="[][][]"
		>
			<div>
				<a class="[ inline-block ]" href="/">
					<span class="[][ visually-hidden ][]">Check This Out</span>
					<img alt="Check This Out" src="/images/spine-title.svg" class="[][][ spine-title ]" />
				</a>
			</div>
		</nav>

		<img alt="Taxi logo" src="/icons/spine-logo.svg" class="[][][ spine-logo ]" />
	</header>

	<main
		class="[][][]"
	>
		<article class="[ stack-lg ][][ page-article ]">
			<header class="[][][ page-article-header ]">
				<h1 class="[ center ][ measure ][ font-features page-section-heading uppercase ]">{{ title }}</h1>
				{% if subtitle %}<p class="[ center ][ measure ][]">{{ subtitle }}</p>{% endif %}
			</header>

			<div class="[ center ][][]">
				{{ content | safe }}
			</div>
		</article>
	</main>

	<div
		class="[][ theme-yellow ][]"
	></div>
</div>
