:root {
	--ratio: 1.5;
	--ratio-0: var( --ratio );
	--ratio-1: calc( var( --ratio-0 ) * var( --ratio ) );
	--ratio-2: calc( var( --ratio-1 ) * var( --ratio ) );
	--ratio-3: calc( var( --ratio-2 ) * var( --ratio ) );
	--ratio-4: calc( var( --ratio-3 ) * var( --ratio ) );

	--size--4: calc( var( --size--3 ) / var( --ratio ) );
	--size--3: calc( var( --size--2 ) / var( --ratio ) );
	--size--2: calc( var( --size--1 ) / var( --ratio ) );
	--size--1: calc( var( --size-0 ) / var( --ratio ) );
	--size-0: 1rem;
	--size-1: calc( var( --size-0 ) * var( --ratio ) );
	--size-2: calc( var( --size-1 ) * var( --ratio ) );
	--size-3: calc( var( --size-2 ) * var( --ratio ) );
	--size-4: calc( var( --size-3 ) * var( --ratio ) );
	--size-5: calc( var( --size-4 ) * var( --ratio ) );
	--size-6: calc( var( --size-5 ) * var( --ratio ) );

	--font-size: var( --size-0 );
	--font-size-sm: calc( var( --font-size ) * 0.875 );
	--font-size-xs: calc( var( --font-size ) * 0.75 );

	/* Composition */
	--measure-size: 56ch;
	--page-margin: clamp( var( --size-1 ), 5vw, var( --size-3 ) );

	--stack-sm-size: calc( var( --font-size ) / var( --ratio-2 ) );
	--stack-size: calc( var( --font-size ) * var( --ratio-0 ) );
	--stack-lg-size: calc( var( --font-size ) * var( --ratio-2 ) );
	--stack-xl-size: calc( var( --font-size ) * var( --ratio-4 ) );

	--font-body: "neue-haas-grotesk-display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-heading: "itc-avant-garde-gothic-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	/* Blocks */
	--section-padding-x: calc( var( --size-1 ) + 1vw );
	--section-padding-y: calc( var( --size-3 ) + 5vw );

	/* Colors */
	--color-cream-light: #fdf8e9;
	--color-cream: #fbf1d3;
	--color-orange: #f36b36;
	--color-pink: #b94d5e;
	--color-teal: #1fd1b8;
	--color-yellow: #fedc57;
	--color-black: #100e0c;
}

body {
	color: var( --color-base );
	font-family: var( --font-body );
}

a {
	color: currentcolor;
}

p,
li {
	line-height: var( --ratio-0 );
}

h1,
h2,
h3 {
	font-family: var( --font-heading );
}

h2,
h3 {
	letter-spacing: -0.05em;
}
