---
permalink: /
layout: layouts/index.njk
page:
  theme: theme-black
---
{%- from "plugins/css/component.njk" import component with context -%}

<article class="[][ showcase ][ page-sections ]">
	<header class="[][ text-center theme-black ][ book-cover ]">
		<div class="[ stack ][][ book-cover-contents ]">
			<header class="[ stack ][][]">
				<p class="[ center ][ measure ][ book-cover-subtitle ]">
					{{ site.subtitle }}
				</p>

				<h1 class="[][ font-ligatures ][ book-cover-title ]">
					{{ site.title }}
				</h1>

				<p
					class="[ center ][ measure ][]"
					style="--measure-size: 32ch;"
				>
					{{ site.description }}
				</p>
			</header>

			<img
				alt=""
				class="[][][ book-cover-art ]"
				src="/images/bg-books-stripes.svg"
				width="720"
			/>
		</div>
	</header>

	<main
		class="[][ theme-cream-light ][ page-contents paper ]"
	>
		<div class="[ stack-xl ][ text-center ][ page-section ]">
			<section class="[ center stack-lg ][ measure ][]">
				<div class="[ stack-sm ][][]">
					<h2 class="[][][ page-section-heading ]"><a href="https://www.overdrive.com/apps/libby/">Libby</a> is awesome</h2>
					<p>An app for Android, iOS, and the web, Libby is a great way to borrow e-books, audiobooks, and more from your public library—for free.</p>
				</div>

				<div class="[ stack-sm ][][]">
					<p>
						<a
							class="[][ inline-block ][ pencil pencil--burst ]"
							href="https://www.overdrive.com/apps/libby/"
						>
							<img
								src="/images/icon-libby.svg"
								alt="Libby app icon"
								class="[ center ][][ app-icon ]"
								width="128"
								height="128"
							>
						</a>
					</p>

					{% call component( "Disclaimer" ) %}
						<p class="[ center ][ font-xs ][]"><b>{{ site.title }}</b> is not affiliated with or endorsed by OverDrive&reg;, makers of Libby.</p>
					{% endcall %}
				</div>

				<p>But you’re not always using Libby when a new title or author catches your eye&hellip;</p>
			</section>

			<section class="[][][]">
				<div class="[ center stack-lg ][ measure ][]">
					<div class="[ stack-sm ][][]">
						<h2 class="[][][ page-section-heading ]">New books <em class="[][][ pencil pencil--underline ]">abound</em></h2>
						<p>There are so many places to find something new to read — best-of lists, links from the group chat, virtual book clubs, you name it.</p>
					</div>

					<div class="[][][]">
						{{ component( "Phone", components.PhoneMessages ) }}
					</div>
				</div>
			</section>

			<section class="[ center stack-lg ][ measure ][]">
				<div class="[ stack-sm ][][]">
					<h2 class="[][][ page-section-heading ]">Start reading in <span class="[][ no-wrap ][]">three taps</span></h2>
					<p>No matter where you are on the internet, <span class="[][ no-wrap ][]">{{ site.title }}</span> makes it a cinch to borrow or reserve your next book in Libby.</p>
				</div>

				{{ component( "Phone", components.Phone.Libby ) }}
			</section>

			<section class="[ center stack-lg ][ measure ][]">
				<div class="[ stack-sm ][][]">
					<h3 class="[][][ page-section-heading ]">Let’s get started!</h3>
					<p>Installing and configuring your bookmarklet to search your public library in Libby takes a couple of minutes, tops.</p>
				</div>

				<div class="[ stack ][][]">
					<p>
						<a
							class="[][][ cta ]"
							href="/install"
						>Install Now</a>
					</p>
				</div>
			</section>
		</div>
	</main>
</article>
