---
title: Install & Configure
subtitle: Quick and easy, you’ll be up and running in just a few minutes.
layout: layouts/page.njk
page:
  theme: theme-cream-light
---
{%- from "plugins/css/component.njk" import component with context -%}

<div
	class="[ center stack-lg ][][]"
>
	{% call component( "Step",
		{
			title: "Library details",
			step: 1,
			subtitle: '<a target="_blank" href="https://libbyapp.com/search/libraries">Search for your library</a> on Libby’s website'
		}
	) %}
		{{ component( "Phone", components.Install.Step1 ) }}
	{% endcall %}



	{% call component( "Step",
		{
			step: 2,
			subtitle: "Tap your library in the search results, then copy the URL"
		}
	) %}
		{{ component( "Phone", components.Install.Step2 ) }}
	{% endcall %}


	{% call component( "Step",
		{
			step: 3,
			subtitle: "Paste the URL here. We’ll need it again in just a bit."
		}
	) %}
		<div></div>
	{% endcall %}



</div>
