<footer class="[][ theme-cream ][ page-footer page-section ]">
	<div class="[ stack ][][]">
		<p class="[][ measure ][]">This is a work of appreciation; for public libraries, which are a treasure, and for Libby, which puts whole worlds in our pockets.</p>
		<p class="[][ font-heading title-spacing uppercase ][]">{{ site.title }}</p>

		<aside class="[ stack ][ measure ][]">
			<p>Designed and built by <a class="[][][]" href="https://ashur.cab/rera">Ashur Cabrera</a><br />Denver, Colorado</p>
			<p><a class="[][][]" href="{{ site.url }}">{{ site.hostname }}</a></p>
			<p>First Edition: October 2021</p>
			<p aria-hidden="true" class="[][][ page-footer-numbers ]">0 9 8 7 6 5 4 3 2 1</p>
		</aside>
	</div>
</footer>
